bundles
lib

node_modules/*

**/.DS_Store
nbproject
manifest.mf
build.xml
npm-debug.log
*.js
!helpers.js
!config/*
!karma.conf.js
!webpack.config.js
!nprogress.js
*.map
*.d.ts
!make.js
coverage
*.metadata.json

.vscode
.idea
.project
.settings

Thumbs.db
Desktop.ini
.DS_Store