tests
src
webpack.config.js
helpers.js
tsconfig.json
example-app

**/.DS_Store
nbproject
manifest.mf
build.xml
node_modules/*
npm-debug.log
*.ts
!*.d.ts
.github
coverage
!*.metadata.json
!bundles/*.js
*.ngFactory.ts

.vscode
.idea
.project
.settings
.DS_Store

Thumbs.db
Desktop.ini